.register{
    justify-self: center;
    display: flex;
}
form{
    display: block;
    border: #E5E7EB 1px solid;
    width: 400px;
    height: 450px;
justify-items: center;
background-color: #F9FAFB;
}

input{
    width: 300px;
    height: 40px;
    margin-bottom: 35px;
    border-radius: 5px;
}
body{
 background-color: #0B6E4F;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h2{
    text-align: center;
}
button{
      width: 300px;
    height: 40px;
    margin-bottom: 35px;
 background-color: #0b6e4F;
 border-radius: 5px;
     color: white;
}
.link{
    transform: translatey(-50px);
    font-size:14px;
    text-align: center;
}
a{
        text-decoration: none;

}